<h2>My Returned Books</h2>
<hr />
<div
  class="alert"
  *ngIf="message"
  [class.alert-danger]="messageType === 'error'"
  [class.alert-success]="messageType === 'success'"
>
  {{ message }}
</div>
<div class="">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Rate</th>
        <th scope="col"><i class="fas fa-cogs"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of returnedBooks.hydraMember; let index = index">
        <th scope="row">{{ index + 1 }}</th>
        <td scope="">{{ book.title }}</td>
        <td scope="">{{ book.authorName }}</td>
        <td scope="">{{ book.isbn }}</td>
        <td scope="">
          <i class="fas fa-star text-warning"></i> {{ book.rate }}
        </td>
        <td>
          <div class="d-flex gap-2">
            <i
              class="fa-regular fa-paper-plane text-primary cursor-pointer"
              *ngIf="book.returned"
            ></i>
            <!-- For if book is already returned -->
            <i
              *ngIf="!book.returned"
              class="fa-solid fa-paper-plane text-success cursor-pointer"
            ></i>
            <i
              class="fa-solid fa-circle-check cursor-pointer"
              (click)="approveBookReturned(book)"
              [class.text-success]="book.returnApproved"
            ></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a
          (click)="goToFirstPage()"
          class="page-link"
          href="javascript:void()"
          aria-label="Previous"
          [class.disabled]="page == 0"
        >
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToPreviousPage()"
          class="page-link"
          href="javascript:void()"
          aria-label="Previous"
          [class.disabled]="page == 0"
        >
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </li>
      <li
        class="page-item"
        *ngFor="
          let _ of [].constructor(this.returnedBooks.totalPages);
          let pageIndex = index
        "
      >
        <a
          (click)="goToPage(pageIndex)"
          class="page-link"
          href="javascript:void()"
          aria-label="Previous"
          [class.active]="page == pageIndex"
        >
          {{ pageIndex + 1 }}
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToNextPage()"
          class="page-link"
          href="javascript:void()"
          aria-label="Next"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToLastPage()"
          class="page-link"
          href="javascript:void()"
          aria-label="Previous"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
